@font-face {
  font-family: 'MontserratBold';
  src: url("../fonts/MontserratBold.eot");
  src: url("../fonts/MontserratBold.eot") format("embedded-opentype"), url("../fonts/MontserratBold.woff2") format("woff2"), url("../fonts/MontserratBold.woff") format("woff"), url("../fonts/MontserratBold.ttf") format("truetype"), url("../fonts/MontserratBold.svg#MontserratBold") format("svg"); }

@font-face {
  font-family: 'MontserratMedium';
  src: url("../fonts/MontserratMedium.eot");
  src: url("../fonts/MontserratMedium.eot") format("embedded-opentype"), url("../fonts/MontserratMedium.woff2") format("woff2"), url("../fonts/MontserratMedium.woff") format("woff"), url("../fonts/MontserratMedium.ttf") format("truetype"), url("../fonts/MontserratMedium.svg#MontserratMedium") format("svg"); }

@font-face {
  font-family: 'MontserratRegular';
  src: url("../fonts/MontserratRegular.eot");
  src: url("../fonts/MontserratRegular.eot") format("embedded-opentype"), url("../fonts/MontserratRegular.woff2") format("woff2"), url("../fonts/MontserratRegular.woff") format("woff"), url("../fonts/MontserratRegular.ttf") format("truetype"), url("../fonts/MontserratRegular.svg#MontserratRegular") format("svg"); }

body {
  color: #3E3F43;
  font-size: 16px;
  font-family: 'MontserratRegular';
  font-weight: normal; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.black {
  color: #000; }

.font_bold {
  font-family: 'MontserratBold'; }

.font_medium {
  font-family: 'MontserratMedium'; }

.align_center {
  text-align: center; }

.title {
  text-align: center;
  font-size: 45px;
  line-height: 50px; }

.container-fluid {
  max-width: 1170px; }

.header__wrapper {
  background: #3E3F43;
  color: #fff; }

.header__item {
  border-right: 1px solid rgba(234, 235, 239, 0.1);
  font-size: 13px; }
  .header__item span {
    font-size: 14px; }

.header__header__adress {
  text-align: center; }

.header__top-nav li a {
  font-size: 14px;
  line-height: 17px;
  color: #fff; }

.header__search-wrapper {
  border: 0; }

.header__help {
  background: #F4F5F7;
  -webkit-box-shadow: 0px 40px 50px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 40px 50px rgba(0, 0, 0, 0.2);
  color: #3E3F43;
  font-size: 14px;
  line-height: 17px;
  margin-left: 15px;
  -webkit-flex-basis: 75%;
      -ms-flex-preferred-size: 75%;
          flex-basis: 75%;
  text-align: center;
  height: 50px; }
