@font-face {
  font-family: 'MontserratBold';
  src: url("../fonts/MontserratBold.eot");
  src: url("../fonts/MontserratBold.eot") format("embedded-opentype"), url("../fonts/MontserratBold.woff2") format("woff2"), url("../fonts/MontserratBold.woff") format("woff"), url("../fonts/MontserratBold.ttf") format("truetype"), url("../fonts/MontserratBold.svg#MontserratBold") format("svg"); }

@font-face {
  font-family: 'MontserratMedium';
  src: url("../fonts/MontserratMedium.eot");
  src: url("../fonts/MontserratMedium.eot") format("embedded-opentype"), url("../fonts/MontserratMedium.woff2") format("woff2"), url("../fonts/MontserratMedium.woff") format("woff"), url("../fonts/MontserratMedium.ttf") format("truetype"), url("../fonts/MontserratMedium.svg#MontserratMedium") format("svg"); }

@font-face {
  font-family: 'MontserratRegular';
  src: url("../fonts/MontserratRegular.eot");
  src: url("../fonts/MontserratRegular.eot") format("embedded-opentype"), url("../fonts/MontserratRegular.woff2") format("woff2"), url("../fonts/MontserratRegular.woff") format("woff"), url("../fonts/MontserratRegular.ttf") format("truetype"), url("../fonts/MontserratRegular.svg#MontserratRegular") format("svg"); }

body {
  color: #3E3F43;
  font-size: 16px;
  font-family: 'MontserratRegular', serif;
  font-weight: normal; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

img {
  max-width: 100%; }

a:hover {
  text-decoration: none; }

.black {
  color: #000; }

.font_bold {
  font-family: 'MontserratBold', serif; }

.font_medium {
  font-family: 'MontserratMedium', serif; }

.align_center {
  text-align: center; }

.title {
  text-align: center;
  font-size: 45px;
  line-height: 50px; }

.container-fluid {
  max-width: 1170px; }

.header__wrapper {
  background: #3E3F43;
  color: #fff; }

.header__item {
  border-right: 1px solid rgba(234, 235, 239, 0.1);
  font-size: 13px;
  height: 50px; }
  .header__item span {
    font-size: 14px; }

.header__header__adress {
  text-align: center; }

.header__top-nav {
  border-right: 0; }
  .header__top-nav li {
    position: relative; }
    .header__top-nav li:after {
      content: '';
      background-color: #B7D445;
      display: block;
      height: 5px;
      width: 0;
      -webkit-transition: width .3s ease-in-out;
      -o-transition: width .3s ease-in-out;
      transition: width .3s ease-in-out;
      position: absolute;
      bottom: -15px;
      left: -5px; }
    .header__top-nav li:hover:after, .header__top-nav li:focus:after {
      width: 120%; }
    .header__top-nav li a {
      font-size: 14px;
      line-height: 17px;
      color: #fff; }
      .header__top-nav li a svg {
        display: none;
        position: absolute;
        top: 45%;
        right: -10px; }
      .header__top-nav li a:hover svg {
        display: block;
        -webkit-transition: .3s all;
        -o-transition: .3s all;
        transition: .3s all; }

.header__help {
  background: #F4F5F7;
  -webkit-box-shadow: 0 40px 50px rgba(0, 0, 0, 0.2);
          box-shadow: 0 40px 50px rgba(0, 0, 0, 0.2);
  color: #3E3F43;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  height: 50px; }

.search {
  margin: 50px auto 30px; }
  .search__item {
    width: 100%;
    border: 1px solid #3E3F43;
    height: 50px;
    padding-left: 30px; }
  .search__submit {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http:%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E %3Ccircle cx='11.5' cy='11.5' r='11' stroke='%233E3F43'%2F%3E %3Cpath d='M19.5 19.5L25 25' stroke='%233E3F43'%2F%3E %3C%2Fsvg%3E");
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    top: 20%;
    position: absolute;
    right: 22px;
    border: 0;
    width: 26px;
    height: 26px; }

.header-nav {
  margin-top: 30px;
  margin-bottom: 40px; }
  .header-nav__list-item {
    position: relative; }
    .header-nav__list-item:before, .header-nav__list-item:last-child:after {
      content: '';
      height: 28px;
      background: rgba(62, 63, 67, 0.2);
      width: 1px;
      display: block;
      position: absolute;
      top: 0;
      -webkit-transition: height, background .5s ease-in-out;
      -o-transition: height, background .5s ease-in-out;
      transition: height, background .5s ease-in-out; }
    .header-nav__list-item:last-child:after {
      right: 0; }
    .header-nav__list-item a {
      color: #3E3F43;
      line-height: 28px;
      font-size: 14px;
      text-transform: uppercase;
      padding: 0 30px;
      -webkit-transition: text-shadow .5s;
      -o-transition: text-shadow .5s;
      transition: text-shadow .5s; }
    .header-nav__list-item:hover a {
      color: #FBA54F;
      text-shadow: 0 0 1px #FBA54F, 0 0 1px #FBA54F; }
    .header-nav__list-item:hover:before {
      height: 58px;
      background: #FBA54F; }
