@font-face
  font-family: 'montserratregular'
  src: url('../fonts/montserrat-webfont.eot')
  src: url('../fonts/montserrat-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserrat-webfont.woff2') format('woff2'),
  url('../fonts/montserrat-webfont.woff') format('woff'),
  url('../fonts/montserrat-webfont.ttf') format('truetype'),
  url('../fonts/montserrat-webfont.svg#montserratregular') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'montserratblack'
  src: url('../fonts/montserratblack-webfont.eot')
  src: url('../fonts/montserratblack-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserratblack-webfont.woff2') format('woff2'),
  url('../fonts/montserratblack-webfont.woff') format('woff'),
  url('../fonts/montserratblack-webfont.ttf') format('truetype'),
  url('../fonts/montserratblack-webfont.svg#montserratblack') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'montserratbold'
  src: url('../fonts/montserratbold-webfont.eot')
  src: url('../fonts/montserratbold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserratbold-webfont.woff2') format('woff2'),
  url('../fonts/montserratbold-webfont.woff') format('woff'),
  url('../fonts/montserratbold-webfont.ttf') format('truetype'),
  url('../fonts/montserratbold-webfont.svg#montserratbold') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'montserrathairline'
  src: url('../fonts/montserrathairline-webfont.eot')
  src: url('../fonts/montserrathairline-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserrathairline-webfont.woff2') format('woff2'),
  url('../fonts/montserrathairline-webfont.woff') format('woff'),
  url('../fonts/montserrathairline-webfont.ttf') format('truetype'),
  url('../fonts/montserrathairline-webfont.svg#montserrathairline') format('svg')
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'montserratlight'
  src: url('../fonts/montserratlight-webfont.eot')
  src: url('../fonts/montserratlight-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserratlight-webfont.woff2') format('woff2'),
  url('../fonts/montserratlight-webfont.woff') format('woff'),
  url('../fonts/montserratlight-webfont.ttf') format('truetype'),
  url('../fonts/montserratlight-webfont.svg#montserratlight') format('svg')
  font-weight: normal
  font-style: normal

