@import 'font'
$grey: #3E3F43
$f-sm: 14px
body
  color: $grey
  font-size: 16px
  font-family: 'MontserratRegular'
  font-weight: normal

ul
  list-style-type: none
  padding: 0
  margin: 0

.black
  color: #000

.font_bold
  font-family: 'MontserratBold'

.font_medium
  font-family: 'MontserratMedium'

.align_center
  text-align: center

.title
  text-align: center
  font-size: 45px
  line-height: 50px

.container-fluid
  max-width: 1170px

// header
.header
  &__wrapper
    background: $grey
    color: #fff

  &__item
    border-right: 1px solid rgba(234, 235, 239, 0.1)
    font-size: 13px

    span
      font-size: 14px

  &__header__adress
    text-align: center

  &__top-nav
    li
      a
        font-size: $f-sm
        line-height: 17px
        color: #fff

  &__search-wrapper
    border: 0

  &__help
    background: #F4F5F7
    box-shadow: 0px 40px 50px rgba(0, 0, 0, 0.2)
    color: $grey
    font-size: $f-sm
    line-height: 17px
    margin-left: 15px
    flex-basis: 75%
    text-align: center
    height: 50px
// header END